<h1 class="white-text center">flisol 2016</h1>
<h3 class="white-text center">Viernes 22 de abril</h3>

<div class="row">
  <div class="col s12 m12">
    <div class="card blue-grey z-depth-3">
      <div class="card-content white-text">
        <span class="card-title">Que es Flisol?</span>
        <h5 class="white-text">
          El FLISoL es el evento de difusión de Software Libre más grande en Latinoamérica y está dirigido a todo tipo de público: estudiantes, académicos, empresarios, trabajadores, funcionarios públicos, entusiastas y aun personas que no poseen mucho conocimiento informático.. 
          </br>
          </br>
          El evento es organizado por las diversas comunidades locales de Software Libre y se desarrolla simultáneamente con eventos en los que se instala, de manera gratuita y totalmente legal, software libre en las computadoras que llevan los asistentes. Además, en forma paralela, se ofrecen charlas, ponencias y talleres, sobre temáticas locales, nacionales y latinoamericanas en torno al Software Libre, en toda su gama de expresiones: artística, académica, empresarial y social.
        </h5>
      </div>

      <div class="card-content white-text">
        <span class="card-title">Como puedo ayudar?</span>
        <h5 class="white-text">
          Asistiendo al evento</br>
          Compartiendo software libre</br>
          Difundiendo sobre el evento</br>
        </h5>
      </div>

      <div class="card-action">
        <h5 class="white-text">contacto: scesi 79356587</h5>
        <a class= "waves-effect waves-light btn teal" href="/charlas">Charlas del evento</a>
        <a class= "waves-effect waves-light btn teal" href="/distros">distros que se instalaran</a>
      </div>
    </div>
  </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d951.8464979752725!2d-66.14665522365166!3d-17.39325419658439!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1457400157234" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-66.14904910326004%2C-17.393928162569356%2C-66.14605575799942%2C-17.392397541080467&amp;layer=mapnik" style="border: 1px solid black"></iframe>
<br/>
<small>
  <a href="http://www.openstreetmap.org/#map=19/-17.39316/-66.14755">View Larger Map</a>
</small>