<h1 class="white-text">Editing Distro</h1>

<%= render 'form' %>

<%= link_to 'Show' ,@distro, class: "waves-effect waves-light btn" %> |
<%= link_to 'Back' ,distros_path, class: "waves-effect waves-light btn" %>
